.lato {
    font-family: "Lato", sans-serif;
  }

  .text-dark {
    color: #121212;
  }

  .text--light-dark {
    color: #121212;
    opacity: 0.6;
  }

  .border {
    outline: none;
    border: none;
  }

  .banner1 {
    background: linear-gradient(rgba(8, 8, 8, 0.801),
        rgba(19, 19, 19, 0.021)),
      url("./images/banner1.png");
  }

  .banner2 {
    background: linear-gradient(rgba(8, 8, 8, 0.801),
        rgba(19, 19, 19, 0.021)),
      url("./images/banner2.png");
  }

  .banner3 {
    background: linear-gradient(rgba(8, 8, 8, 0.801),
        rgba(19, 19, 19, 0.021)),
      url("./images/banner3.png");
  }

  .banner4 {
    background: linear-gradient(rgba(8, 8, 8, 0.801),
        rgba(19, 19, 19, 0.021)),
      url("./images/banner4.png");
  }

  .team-banner {
    background: linear-gradient(rgba(8, 8, 8, 0.726),
        rgba(19, 19, 19, 0.664)),
      url("./images/team.png");
  }